In [1]:
#Assignment 2 (Data Structure)

In [2]:
#Q1 Discuss string slicing and provide examples.


#it's a way to pick out specific parts of a word or sentence in programming.

In [3]:
#example


string1 = "Hello World"
print(string1[0 : 5])

Hello

In [4]:
#example from intex -5 to the end.


string1 = "Hello World"
print(string1[-5:])

World

In [5]:
#Q2 Explain the Key features of lists in Python.


#list are ordered collection of items
#list is like a shopping bag which can store everything
#can store any datatype
#list are mutable
#list comprehension>>concise code
#You can add, remove, or modify elements within a list using indexing and slicing. Lists are versatile for storing and managing collections that might change.

In [7]:
#Q3 Describe how to access,modify,and delete elements in a list with examples.


#To access,modify,and delete elements in a list,you can use indexing and various list methods.

In [8]:
#access elements>>use indexing
#example


fruits_list = ["mango","apple","cherry"]
print(fruits_list[0])

mango

In [9]:
#access the last element using negative indexing
#example


fruits_list = ["mango","apple","cherry"]
print(fruits_list[-1])

cherry

In [10]:
#modify elements>>directly assigning a new value to the element at a specific index
#example


number_list = [10,20,30,40]
number_list[3] = 35
print(number_list)

[10, 20, 30, 35]

In [11]:
#delete elements>>various ways to delete elements from list.you can use 'del' keyword,'remove'method,'clear,or the 'pop' method.
#example using 'del'


number_list = [10,20,30,40]
del number_list[1]
print(number_list)

[10, 30, 40]

In [12]:
#example using 'remove'


number_list = [10,20,30,40]
number_list.remove(20)
print(number_list)

[10, 30, 40]

In [13]:
#example using 'clear'


number_list = [10,20,30,40]
number_list.clear()
print(number_list)

[]

In [14]:
#example using 'pop'


number_list = [10,20,30,40]
number_list.pop(2)
print(number_list)

[10, 20, 40]

In [16]:
#Q4 Compare and contrast tuples and lists with examples.

#Lists:
#Ordered, mutable collections of elements. Think of shopping lists or task lists. Lists can hold items of various data types (numbers, strings, even other lists!).
#You can add, remove, or modify elements within a list using indexing and slicing. Lists are versatile for storing and managing collections that might change.
#example

shopping_list = ["apple",2,"milk",True] #mixed data types
shopping_list.append("mango") #adding an item
del shopping_list[2] #removing te 3 item
print(shopping_list)

['apple', 2, True, 'mango']

In [17]:
#Tuples:
#Ordered, immutable collections of elements, similar to lists. However, once created, the items in a tuple cannot be changed. They provide a secure way to store data that shouldn't be modified.
#You can access elements using indexing and slicing, but you cannot modify the content. Tuples are useful for representing fixed datasets or configurations.
#example

#create a tuple
my_tuple = (10,"apple",True)

#attempt to modify an(will cause an error)
my_tuple[0] = 20  #This line will cause an error

TypeError: 'tuple' object does not support item assignment

In [19]:
#Q5 Describe the key features of sets and provide examples of their use


#Unordered collections of unique elements. The order doesn't matter, and duplicate entries are not allowed. Sets are useful for checking membership (if an item exists) or finding the intersection/difference between sets.
#You can add or remove elements from a set, but you cannot access elements by index (since order doesn't matter). Set operations like union (combining elements), intersection (finding common elements), and difference (finding elements in one set but not the other) are efficient.

In [20]:
#example

#create a set
colors = {"red","blue","green"}

In [21]:
#Add example

colors = {"red","blue","green"}
colors.add("yellow")
print(colors)

{'red', 'yellow', 'blue', 'green'}

In [24]:
#remove example

colors = {"red","blue","green"}
colors.remove("green")
print(colors)

{'red', 'blue'}

In [38]:
#set operations example

set1 = {1,2,3}
set2 = {3,4,5}
#union
union_set = set1.union(set2)
#intersection
intersection_set = set1.intersection(set2)
print(union_set)
print(intersection_set)

#difference
difference_set = set1.difference(set2)
print(difference_set)

{1, 2, 3, 4, 5}
{3}
{1, 2}

In [37]:

#Q6 Discuss the use cases of tuples and sets in python programming

#Tuples:
#Tuples are ordered collection of elements, heterogenous
#Tuples are immutable
#use> use tuples as a data structure where you dont want to modify the data
#example
empid = (1, 2, 3, 4, 5)
empid[1] = 100

TypeError: 'tuple' object does not support item assignment

In [28]:
#Sets:
#sets>>sets are unordered and unique collection of elements
#doesn't alllow duplicate elements
#unordered>> indexing will not work
#use case
list1 = [1, 2, 3, "Brinjal", "Brinjal", "Apple", "Apple"]
s = set(list1)

In [29]:
s

{1, 2, 3, 'Apple', 'Brinjal'}

In [30]:
#Q7 Describe how to add,modify,and delete items in a dictionary with examples

#to add>>to add a new item to a dictionary,you can simply assign a value to a new key in the dictionary
#example
my_dict = {}
my_dict["name"] = "tanu"
print(my_dict)

{'name': 'tanu'}

In [32]:
#to modify>>to modify an existing item in a dictionary,you can reassign a new value to an existing key
#example
my_dict = {"name":"tanu"}
my_dict["name"] = "harsh"
print(my_dict)

{'name': 'harsh'}

In [33]:
#to delete>>to delete an item from a dictionary,you can use the'del' keyword followed by the key you want to remove
#example
my_dict = {"name":"tanu", "age":18}
del my_dict["name"]
print(my_dict)

{'age': 18}

In [39]:
#Q8 Discuss the importance of dictionary keys being immutable and provide examples

#dictionary is a data structure that stores data as key value pair
#Keys are unique and immutable
#only string and numvbers can be used as a key of the dictionary

In [40]:
#string example>>immutable>>making them commonly used in dictionary keys

my_dict = {"name":"tanu", "age":18}
print(my_dict["name"])

tanu

In [41]:
#numbers example>>numeric data types like integers and floats are immutable and can be used as dictionary kets

my_dict = {1: "one", 2: "two", 3: "three"}
print(my_dict[2])

two